.jumbotron{

    background-color: yellowgreen;
    color: black;
    margin-top: 50px;
}
.card-producto{
    flex: 1 200px ;
    padding: 0px;
    margin-top: 20px;
}
.btn-reserva{
    width: 100%;
    border-radius: 0px;
}

footer{
    padding: 10px 10px 0 10px;
    background-color: yellowgreen;
    margin-bottom: 0px;
    margin-top: 10px;
}

.footer-adress-icon{
    padding-right: 10px;
}
.tab-content{
    padding-top: 10px;
}
